<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title><span th:text="${project}"></span>忘記密碼重設密碼</title>
<body>
<div id="main">
    <span th:text="${author}"}></span>您新的密碼，登入後請重新變更您的密碼
    <h2>
        <span th:text="${newPassword}"></span>
    </h2>
</div>
</body>
</head>
<body>

</body>
</html>