<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="jwsVerify">
    <div class="content">
        <div><b><span th:text="${author}"/></b> 您好，</div>
        您的
        <b><span th:text="${jwsType}"/></b>立帳單
        <b><span th:text="${jwsNo}"/></b>主旨
        <b><span th:text="${jwsRemark}"/></b>已被退回，退回事由:
        <b><h3 th:text="${returnContent}" style="text-align:center"/></b>
        <div style="margin-bottom:20%;">
            請您盡快修正重新送出。
        </div>
    </div>
</div>
</html>