<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="openSystemButton">
    <div style="text-align:center;">
        <a th:href="${href}" target="_blank">
            <input type="button"
                   class="emailButton"
                   value="開啟系統" onclick="javascript:location.href=${href}"/>
        </a>
    </div>
    <br>
</footer>
</html>