<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="resetPassword">
    <div class="content">
        <div><b><span th:text="${author}"/></b> 您好，</div>
        您於
        <b><span th:text="${updateTime}"/></b>分提出了 TAP
        <b><span th:text="${project}"/></b>密碼重設的請求。請點選下方的按鈕進行密碼設定。
        <div style="text-align:center;margin-top:10%;margin-bottom:20%;">
            <a th:href="${href}" target="_blank">
                <input type="button" value="重設密碼" class="emailButton" target="_blank"/>
            </a>
        </div>
        <div>如果你沒有提出此需求，請馬上連絡我們:</div>
        <a href="mailto:support@tapsystem.co" style="margin-bottom:10%">support@tapsystem.co</a>
    </div>
</div>
</html>