<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="systemMaintenance">
    <div class="content">
        <div><b><span th:text="${author}"/></b> 您好，</div>
        TAP ACC 系統將於:
        <div style="text-align:center;margin-top:5%;">
            <div>
                <b><span th:text="${maintenanceTimeStart}"/></b> 至
                <b><span th:text="${maintenanceTimeEnd}"/></b>
            </div>
            <img src="cid:maintenance"/>
        </div>
        <div style="margin-top:10%;margin-bottom:20%;">
            <div>進行<b>系統維護作業</b>。與此時段內您將無法登入系統。</div>
            <div>造成您的不便，深感抱歉</div>
        </div>
    </div>
</div>
</html>