    .content{
    margin-left: 5%;
    margin-right: 5%;
    height:50%;
    width:50%;
    background-color:white;
    text-align: left;
    }
    .openSystemButton{
    border-radius:5%;
    text-align:center;
    background-color:#28961B;
    color:white;
    border:0px;
    width:20%;
    line-height:2em;
    }

    #main{
    color:black;
    margin-top:2%;
    }

    .backGround{
    background-color:WhiteSmoke;
    }

    .logo{
    margin-top:2%;
    width:8%;
    height:8%
    }