<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
    <!--    <link th:href="@{styles/main.css}" rel="stylesheet" />-->
    <style>
    .body{
    height:50%;
    width:50%;
    background-color:white;
    }

    .content{
        color:black;
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;
    }

    .emailButton{
    border-radius:5%;
    text-align:center;
    background-color:#28961B;
    color:white;
    border:0px;
    width:20%;
    line-height:2em;
    }


    #main{
    color:black;
    margin-top:2%;
    }

    .backGround{
    background-color:WhiteSmoke;
    }

    .logo{
    margin-top:2%;
    margin-left: 5%;
    margin-right: 5%;
    width:8%;
    height:8%
    }

    </style>
</head>
<body>
<div class="backGround">
    <table width="100%">
        <tr>
            <td align="center">
                <div id="main" class="body">
                    <!-- logo -->
                    <div th:replace="components/header :: header"/>

                    <div th:switch="${templateName}">
                        <!-- 單據退回通知 -->
                        <div th:case="jwsReturn">
                            <div th:replace="components/jwsReturn :: jwsReturn"/>
                        </div>
                        <!-- 重新送單 -->
                        <div th:case="jwsVerify">
                            <div th:replace="components/jwsVerify :: jwsVerify"/>
                        </div>
                        <!-- 密碼重設通知 -->
                        <div th:case="resetPassword">
                            <div th:replace="components/resetPassword :: resetPassword"/>
                        </div>
                        <!-- 系統維護-->
                        <div th:case="systemMaintenance">
                            <div th:replace="components/systemMaintenance :: systemMaintenance"/>
                        </div>
                    </div>
                    <!-- 簽名檔-->
                    <div th:replace="components/signature :: signature"/>

                    <!-- 單據退回通知 && 重新送單 會有開啟系統的按鈕-->
                    <div th:if="${templateName == 'jwsReturn' or templateName == 'jwsVerify'}">
                        <div th:replace="components/openSystemButton :: openSystemButton"/>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td align="center">
                <div th:replace="components/copyright :: copyright"/>
            </td>
        </tr>
    </table>
</div>
</body>
</html>